<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>様</p>
    <br>
    <h3>貴方は通報されました!</h3>
    <br>
    <p>今すぐYHBRにログインして反省しましょう!</p>
    <a href="https://youhavebeenreported.herokuapp.com/">Yhbr<a>
    <br>
    <h3>通報理由： <%= @report.title %></h3>

    </div>
  </body>
</html>