<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <h1 class="mb-5 heading">YOU HAVE BEEN REPORTED!!</h1>
      <p class="mb-5">
        このサービスはSNS等に実装されている「通報」という機能を現実世界に実装するサービスです。<br>
        もしあなたが無礼を働かれたなら、このサービスを利用して匿名で相手を通報しましょう。<br>
        もしあなたが無礼を働いたのなら、届いた通報を真摯に受け止めて反省しましょう。<br>
      </p>
      <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-info btn-lg" %>
      <%= link_to "サインイン", new_user_session_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<h1 id="hello">Hello World</h1>

<%= javascript_pack_tag 'top.js' %>